<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.chncyl.base.security.mapper.UserDetailsMapper">
    <resultMap id="AuthorityMap" type="work.chncyl.base.security.entity.LoginAuthorityInfo">
        <id column="id" property="roleId" javaType="int" jdbcType="INTEGER"/>
        <result column="mark" property="mark" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="IsDefault" property="isDefault" jdbcType="BOOLEAN"/>
        <association property="menus" javaType="java.util.List" column="id"
                     select="getRoleMenuButtonInfo"/>
    </resultMap>

    <select id="getUserDetail" resultType="work.chncyl.base.security.entity.LoginUserDetail">
        SELECT a.id                                                        userId,
               a.UserName                                               AS realName,
               b.accountname                                            AS username,
               b.accountpwd                                             AS password,
               (case when b.accountstatus = 1 then true else false end) AS enabled,
               a.user_type                                              AS UserType,
               b.nickname,
               HeadImage,
               a.phonenum
        FROM sys_user a
                 INNER JOIN sys_account b ON a.id = b.UserId
        WHERE a.IsDeleted = false
        <if test="phoneNum != null and phoneNum != ''">
            AND a.phonenum = #{phoneNum,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != ''">
            AND b.accountname = #{userName,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getUserAuthorityInfo" resultMap="AuthorityMap">
        SELECT a.id,
               a.Name,
               a.mark ,
               a.IsDefault
        FROM sys_role a
                 INNER JOIN sys_user_role b ON a.Id = b.RoleId
        WHERE a.IsDeleted = false
          AND b.UserId = #{userId,jdbcType=BIGINT}
    </select>

    <select id="getRoleMenuButtonInfo" resultType="work.chncyl.base.security.entity.LoginMenuButtonInfo">
        SELECT a.*
        FROM sys_permissions a
                 LEFT JOIN sys_role_permission b ON b.permissionid = a.Id
        WHERE b.RoleId = #{roleId,jdbcType=BIGINT}
          AND a.IsDeleted = false
          AND a.status = 1
    </select>
</mapper>