<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.chncyl.service.restRoom.mapper.RestRoomUserMapper">
    <resultMap id="BaseResultMap" type="work.chncyl.service.restRoom.entity.RestRoomUser">
        <!--@mbg.generated-->
        <!--@Table rest_room_user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="CreateUserId" jdbcType="INTEGER" property="createUserId"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UpdateUserId" jdbcType="INTEGER" property="updateUserId"/>
        <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="Deleted" jdbcType="BOOLEAN" property="deleted"/>
        <result column="DeletedTime" jdbcType="TIMESTAMP" property="deletedTime"/>
        <result column="DeletedUserId" jdbcType="INTEGER" property="deletedUserId"/>
        <result column="UserName" jdbcType="VARCHAR" property="userName"/>
        <result column="PhoneNumber" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="WxOpenId" jdbcType="VARCHAR" property="wxOpenId"/>
        <result column="State" jdbcType="TINYINT" property="state"/>
        <result column="Sex" jdbcType="VARCHAR" property="sex"/>
        <result column="UserId" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        CreateUserId,
        CreateTime,
        UpdateUserId,
        UpdateTime,
        Deleted,
        DeletedTime,
        DeletedUserId,
        UserName,
        PhoneNumber,
        WxOpenId,
        `State`,
        Sex,
        UserId
    </sql>

    <select id="queryRestRoomUser" resultType="work.chncyl.service.restRoom.dto.RestRoomUserInfo">
        select ru.*,
               count(ur.id) as usageCount
        from rest_room_user ru
                 LEFT JOIN rest_room_usage_record ur
                           ON ru.id = ur.restRoomUserId AND ur.deleted = false AND ur.state = 1
        WHERE ru.Deleted = false
        <if test="queryInfo.userName != null">
            AND UserName LIKE CONCAT('%', #{queryInfo.userName}, '%')
        </if>
        <if test="queryInfo.phoneNumber != null">
            AND PhoneNumber LIKE CONCAT('%', #{queryInfo.phoneNumber}, '%')
        </if>
        <if test="queryInfo.associated != null">
            <choose>
                <when test="queryInfo.associated == true">
                    AND WxOpenId IS NOT NULL
                </when>
                <otherwise>
                    AND WxOpenId IS NULL
                </otherwise>
            </choose>
        </if>
        GROUP BY ru.id
    </select>
</mapper>