<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.chncyl.service.restRoom.mapper.RestRoomUsageRecordMapper">
    <resultMap id="BaseResultMap" type="work.chncyl.service.restRoom.entity.RestRoomUsageRecord">
        <!--@mbg.generated-->
        <!--@Table rest_room_usage_record-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="CreateUserId" jdbcType="INTEGER" property="createUserId"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UpdateUserId" jdbcType="INTEGER" property="updateUserId"/>
        <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="Deleted" jdbcType="BOOLEAN" property="deleted"/>
        <result column="DeletedTime" jdbcType="TIMESTAMP" property="deletedTime"/>
        <result column="DeletedUserId" jdbcType="INTEGER" property="deletedUserId"/>
        <result column="RestRoomUserId" jdbcType="INTEGER" property="restRoomUserId"/>
        <result column="RestRoomId" jdbcType="INTEGER" property="restRoomId"/>
        <result column="UseTime" jdbcType="TIMESTAMP" property="useTime"/>
        <result column="State" jdbcType="TINYINT" property="state"/>
        <result column="Latitude" jdbcType="DECIMAL" property="latitude"/>
        <result column="Longitude" jdbcType="DECIMAL" property="longitude"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        CreateUserId,
        CreateTime,
        UpdateUserId,
        UpdateTime,
        Deleted,
        DeletedTime,
        DeletedUserId,
        RestRoomUserId,
        RestRoomId,
        UseTime,
        `State`,
        Latitude,
        Longitude
    </sql>

    <select id="selectList" resultType="work.chncyl.service.restRoom.dto.UsageRecordStatistics">
        select rr.id   as roomId,
               rr.name as roomName,
               ur.RestRoomUserId,
               ru.sex,
               ur.UseTime
        from rest_room_usage_record ur
                 LEFT JOIN rest_room_user ru ON ur.RestRoomUserId = ru.id
                 LEFT JOIN rest_room rr ON ur.RestRoomId = rr.id
        where ur.Deleted = 0
          AND ur.State = 1
        <if test="statistics.startTime != null">
            AND ur.UseTime &gt;= #{statistics.startTime}
        </if>
        <if test="statistics.endTime != null">
            AND ur.UseTime &lt;= #{statistics.endTime}
        </if>
        <if test="statistics.roomId != null">
            AND ur.RestRoomId = #{statistics.roomId}
        </if>
        <if test="statistics.userId != null">
            AND ur.RestRoomUserId = #{statistics.userId}
        </if>
        <if test="statistics.sex != null and statistics.sex != ''">
            AND ru.sex = #{statistics.sex}
        </if>
    </select>

    <select id="selectAllRooms" resultType="work.chncyl.service.restRoom.entity.RestRoom">
        SELECT id, name
        FROM rest_room
        WHERE Deleted = 0 AND State = 1
        ORDER BY id
    </select>

    <select id="queryRestRoomUsageRecord" resultType="work.chncyl.service.restRoom.dto.UsageRecord">
        SELECT ur.id, ur.UseTime, r.name, ru.UserName, ru.PhoneNumber
        FROM rest_room_usage_record ur
                 LEFT JOIN rest_room r ON r.id = ur.RestRoomId AND r.Deleted = false
                 LEFT JOIN rest_room_user ru ON ru.id = ur.RestRoomUserId AND ru.Deleted = false
        WHERE ur.Deleted = false
          AND ur.state = 1
        <if test='queryUsageInfo.restRoomUserId != null'>
            AND ru.id = #{queryUsageInfo.restRoomUserId}
        </if>
        <if test='queryUsageInfo.restRoomId != null'>
            AND r.id = #{queryUsageInfo.restRoomId}
        </if>
        <if test='queryUsageInfo.startTime != null'>
            AND ur.UseTime >= #{queryUsageInfo.startTime}
        </if>
        <if test='queryUsageInfo.endTime != null'>
            AND ur.UseTime <![CDATA[<=]]> #{queryUsageInfo.endTime}
        </if>
    </select>

    <select id="selectUserUsageRecordStatistics"
            resultType="work.chncyl.service.restRoom.dto.UserRecordStatisticsOutput">
        SELECT RestRoomUserId,
               COUNT(*)                  AS totalCount,
               COUNT(CASE
                         WHEN DATE_FORMAT(UseTime, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')
                             THEN 1 END) AS monthCount,
               COUNT(CASE
                         WHEN DATE_FORMAT(UseTime, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') THEN 1
                   END)                  AS todayUsed
        FROM rest_room_usage_record
        WHERE State = 1
          AND Deleted = 0
          AND RestRoomUserId = (SELECT id FROM rest_room_user WHERE UserId = #{userId})
        GROUP BY RestRoomUserId
    </select>
</mapper>